<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.order.mapper.MallOrderCartMapper">
    
    <resultMap type="MallOrderCart" id="MallOrderCartResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="skuId"    column="sku_id"    />
        <result property="spuId"    column="spu_id"    />
        <result property="skuCode"    column="sku_code"    />
        <result property="skuName"    column="sku_name"    />
        <result property="mainImage"    column="main_image"    />
        <result property="price"    column="price"    />
        <result property="quantity"    column="quantity"    />
        <result property="isSelected"    column="is_selected"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMallOrderCartVo">
        select id, user_id, sku_id, spu_id, sku_code, sku_name, main_image, price, quantity, is_selected, is_deleted, create_time, update_time from mall_order_cart
    </sql>

    <select id="selectMallOrderCartList" parameterType="MallOrderCart" resultMap="MallOrderCartResult">
        <include refid="selectMallOrderCartVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="skuId != null  and skuId != ''"> and sku_id = #{skuId}</if>
            <if test="spuId != null  and spuId != ''"> and spu_id = #{spuId}</if>
            <if test="skuCode != null  and skuCode != ''"> and sku_code = #{skuCode}</if>
            <if test="skuName != null  and skuName != ''"> and sku_name like concat('%', #{skuName}, '%')</if>
            <if test="mainImage != null  and mainImage != ''"> and main_image = #{mainImage}</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="quantity != null  and quantity != ''"> and quantity = #{quantity}</if>
            <if test="isSelected != null  and isSelected != ''"> and is_selected = #{isSelected}</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectMallOrderCartById" parameterType="String" resultMap="MallOrderCartResult">
        <include refid="selectMallOrderCartVo"/>
        where id = #{id}
    </select>

    <insert id="insertMallOrderCart" parameterType="MallOrderCart" useGeneratedKeys="true" keyProperty="id">
        insert into mall_order_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="skuId != null and skuId != ''">sku_id,</if>
            <if test="spuId != null and spuId != ''">spu_id,</if>
            <if test="skuCode != null and skuCode != ''">sku_code,</if>
            <if test="skuName != null">sku_name,</if>
            <if test="mainImage != null">main_image,</if>
            <if test="price != null and price != ''">price,</if>
            <if test="quantity != null and quantity != ''">quantity,</if>
            <if test="isSelected != null">is_selected,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="skuId != null and skuId != ''">#{skuId},</if>
            <if test="spuId != null and spuId != ''">#{spuId},</if>
            <if test="skuCode != null and skuCode != ''">#{skuCode},</if>
            <if test="skuName != null">#{skuName},</if>
            <if test="mainImage != null">#{mainImage},</if>
            <if test="price != null and price != ''">#{price},</if>
            <if test="quantity != null and quantity != ''">#{quantity},</if>
            <if test="isSelected != null">#{isSelected},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMallOrderCart" parameterType="MallOrderCart">
        update mall_order_cart
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="skuId != null and skuId != ''">sku_id = #{skuId},</if>
            <if test="spuId != null and spuId != ''">spu_id = #{spuId},</if>
            <if test="skuCode != null and skuCode != ''">sku_code = #{skuCode},</if>
            <if test="skuName != null">sku_name = #{skuName},</if>
            <if test="mainImage != null">main_image = #{mainImage},</if>
            <if test="price != null and price != ''">price = #{price},</if>
            <if test="quantity != null and quantity != ''">quantity = #{quantity},</if>
            <if test="isSelected != null">is_selected = #{isSelected},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMallOrderCartById" parameterType="String">
        delete from mall_order_cart where id = #{id}
    </delete>

    <delete id="deleteMallOrderCartByIds" parameterType="String">
        delete from mall_order_cart where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>