<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.MallProductSkuMapper">
    
    <resultMap type="MallProductSku" id="MallProductSkuResult">
        <result property="id"    column="id"    />
        <result property="spuId"    column="spu_id"    />
        <result property="skuCode"    column="sku_code"    />
        <result property="skuName"    column="sku_name"    />
        <result property="attrsJson"    column="attrs_json"    />
        <result property="price"    column="price"    />
        <result property="marketPrice"    column="market_price"    />
        <result property="costPrice"    column="cost_price"    />
        <result property="image"    column="image"    />
        <result property="weight"    column="weight"    />
        <result property="salesCount"    column="sales_count"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMallProductSkuVo">
        select id, spu_id, sku_code, sku_name, attrs_json, price, market_price, cost_price, image, weight, sales_count, is_deleted, create_time, update_time from mall_product_sku
    </sql>

    <select id="selectMallProductSkuList" parameterType="MallProductSku" resultMap="MallProductSkuResult">
        <include refid="selectMallProductSkuVo"/>
        <where>  
            <if test="spuId != null  and spuId != ''"> and spu_id = #{spuId}</if>
            <if test="skuCode != null  and skuCode != ''"> and sku_code = #{skuCode}</if>
            <if test="skuName != null  and skuName != ''"> and sku_name like concat('%', #{skuName}, '%')</if>
            <if test="attrsJson != null  and attrsJson != ''"> and attrs_json = #{attrsJson}</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="marketPrice != null  and marketPrice != ''"> and market_price = #{marketPrice}</if>
            <if test="costPrice != null  and costPrice != ''"> and cost_price = #{costPrice}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="weight != null  and weight != ''"> and weight = #{weight}</if>
            <if test="salesCount != null  and salesCount != ''"> and sales_count = #{salesCount}</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectMallProductSkuById" parameterType="String" resultMap="MallProductSkuResult">
        <include refid="selectMallProductSkuVo"/>
        where id = #{id}
    </select>

    <insert id="insertMallProductSku" parameterType="MallProductSku" useGeneratedKeys="true" keyProperty="id">
        insert into mall_product_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuId != null and spuId != ''">spu_id,</if>
            <if test="skuCode != null and skuCode != ''">sku_code,</if>
            <if test="skuName != null and skuName != ''">sku_name,</if>
            <if test="attrsJson != null">attrs_json,</if>
            <if test="price != null and price != ''">price,</if>
            <if test="marketPrice != null">market_price,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="image != null">image,</if>
            <if test="weight != null">weight,</if>
            <if test="salesCount != null">sales_count,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spuId != null and spuId != ''">#{spuId},</if>
            <if test="skuCode != null and skuCode != ''">#{skuCode},</if>
            <if test="skuName != null and skuName != ''">#{skuName},</if>
            <if test="attrsJson != null">#{attrsJson},</if>
            <if test="price != null and price != ''">#{price},</if>
            <if test="marketPrice != null">#{marketPrice},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="image != null">#{image},</if>
            <if test="weight != null">#{weight},</if>
            <if test="salesCount != null">#{salesCount},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMallProductSku" parameterType="MallProductSku">
        update mall_product_sku
        <trim prefix="SET" suffixOverrides=",">
            <if test="spuId != null and spuId != ''">spu_id = #{spuId},</if>
            <if test="skuCode != null and skuCode != ''">sku_code = #{skuCode},</if>
            <if test="skuName != null and skuName != ''">sku_name = #{skuName},</if>
            <if test="attrsJson != null">attrs_json = #{attrsJson},</if>
            <if test="price != null and price != ''">price = #{price},</if>
            <if test="marketPrice != null">market_price = #{marketPrice},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="image != null">image = #{image},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="salesCount != null">sales_count = #{salesCount},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMallProductSkuById" parameterType="String">
        delete from mall_product_sku where id = #{id}
    </delete>

    <delete id="deleteMallProductSkuByIds" parameterType="String">
        delete from mall_product_sku where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>