<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.user.mapper.MallUserGrowthLogMapper">
    
    <resultMap type="MallUserGrowthLog" id="MallUserGrowthLogResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="bizType"    column="biz_type"    />
        <result property="bizNo"    column="biz_no"    />
        <result property="changeType"    column="change_type"    />
        <result property="growth"    column="growth"    />
        <result property="beforeGrowth"    column="before_growth"    />
        <result property="afterGrowth"    column="after_growth"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMallUserGrowthLogVo">
        select id, user_id, biz_type, biz_no, change_type, growth, before_growth, after_growth, remark, is_deleted, create_time, update_time from mall_user_growth_log
    </sql>

    <select id="selectMallUserGrowthLogList" parameterType="MallUserGrowthLog" resultMap="MallUserGrowthLogResult">
        <include refid="selectMallUserGrowthLogVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="bizType != null  and bizType != ''"> and biz_type = #{bizType}</if>
            <if test="bizNo != null  and bizNo != ''"> and biz_no = #{bizNo}</if>
            <if test="changeType != null  and changeType != ''"> and change_type = #{changeType}</if>
            <if test="growth != null  and growth != ''"> and growth = #{growth}</if>
            <if test="beforeGrowth != null  and beforeGrowth != ''"> and before_growth = #{beforeGrowth}</if>
            <if test="afterGrowth != null  and afterGrowth != ''"> and after_growth = #{afterGrowth}</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectMallUserGrowthLogById" parameterType="String" resultMap="MallUserGrowthLogResult">
        <include refid="selectMallUserGrowthLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertMallUserGrowthLog" parameterType="MallUserGrowthLog" useGeneratedKeys="true" keyProperty="id">
        insert into mall_user_growth_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="bizType != null and bizType != ''">biz_type,</if>
            <if test="bizNo != null">biz_no,</if>
            <if test="changeType != null and changeType != ''">change_type,</if>
            <if test="growth != null and growth != ''">growth,</if>
            <if test="beforeGrowth != null">before_growth,</if>
            <if test="afterGrowth != null">after_growth,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="bizType != null and bizType != ''">#{bizType},</if>
            <if test="bizNo != null">#{bizNo},</if>
            <if test="changeType != null and changeType != ''">#{changeType},</if>
            <if test="growth != null and growth != ''">#{growth},</if>
            <if test="beforeGrowth != null">#{beforeGrowth},</if>
            <if test="afterGrowth != null">#{afterGrowth},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMallUserGrowthLog" parameterType="MallUserGrowthLog">
        update mall_user_growth_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="bizType != null and bizType != ''">biz_type = #{bizType},</if>
            <if test="bizNo != null">biz_no = #{bizNo},</if>
            <if test="changeType != null and changeType != ''">change_type = #{changeType},</if>
            <if test="growth != null and growth != ''">growth = #{growth},</if>
            <if test="beforeGrowth != null">before_growth = #{beforeGrowth},</if>
            <if test="afterGrowth != null">after_growth = #{afterGrowth},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMallUserGrowthLogById" parameterType="String">
        delete from mall_user_growth_log where id = #{id}
    </delete>

    <delete id="deleteMallUserGrowthLogByIds" parameterType="String">
        delete from mall_user_growth_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>