<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.marketing.mapper.MallMarketingCouponMapper">
    
    <resultMap type="MallMarketingCoupon" id="MallMarketingCouponResult">
        <result property="id"    column="id"    />
        <result property="couponName"    column="coupon_name"    />
        <result property="couponType"    column="coupon_type"    />
        <result property="faceValue"    column="face_value"    />
        <result property="discountRate"    column="discount_rate"    />
        <result property="discountLimit"    column="discount_limit"    />
        <result property="minOrderAmount"    column="min_order_amount"    />
        <result property="totalCount"    column="total_count"    />
        <result property="remainCount"    column="remain_count"    />
        <result property="perUserLimit"    column="per_user_limit"    />
        <result property="useStartTime"    column="use_start_time"    />
        <result property="useEndTime"    column="use_end_time"    />
        <result property="couponStatus"    column="coupon_status"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="version"    column="version"    />
    </resultMap>

    <resultMap id="MallMarketingCouponMallMarketingCouponRecordResult" type="MallMarketingCoupon" extends="MallMarketingCouponResult">
        <collection property="mallMarketingCouponRecordList" ofType="MallMarketingCouponRecord" column="id" select="selectMallMarketingCouponRecordList" />
    </resultMap>

    <resultMap type="MallMarketingCouponRecord" id="MallMarketingCouponRecordResult">
        <result property="id"    column="id"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="userId"    column="user_id"    />
        <result property="couponCode"    column="coupon_code"    />
        <result property="recordStatus"    column="record_status"    />
        <result property="orderNo"    column="order_no"    />
        <result property="faceValue"    column="face_value"    />
        <result property="lockTime"    column="lock_time"    />
        <result property="useTime"    column="use_time"    />
        <result property="releaseTime"    column="release_time"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMallMarketingCouponVo">
        select id, coupon_name, coupon_type, face_value, discount_rate, discount_limit, min_order_amount, total_count, remain_count, per_user_limit, use_start_time, use_end_time, coupon_status, is_deleted, create_by, update_by, create_time, update_time, version from mall_marketing_coupon
    </sql>

    <select id="selectMallMarketingCouponList" parameterType="MallMarketingCoupon" resultMap="MallMarketingCouponResult">
        <include refid="selectMallMarketingCouponVo"/>
        <where>  
            <if test="couponName != null  and couponName != ''"> and coupon_name like concat('%', #{couponName}, '%')</if>
            <if test="couponType != null  and couponType != ''"> and coupon_type = #{couponType}</if>
            <if test="faceValue != null  and faceValue != ''"> and face_value = #{faceValue}</if>
            <if test="discountRate != null  and discountRate != ''"> and discount_rate = #{discountRate}</if>
            <if test="discountLimit != null  and discountLimit != ''"> and discount_limit = #{discountLimit}</if>
            <if test="minOrderAmount != null  and minOrderAmount != ''"> and min_order_amount = #{minOrderAmount}</if>
            <if test="totalCount != null  and totalCount != ''"> and total_count = #{totalCount}</if>
            <if test="remainCount != null  and remainCount != ''"> and remain_count = #{remainCount}</if>
            <if test="perUserLimit != null  and perUserLimit != ''"> and per_user_limit = #{perUserLimit}</if>
            <if test="useStartTime != null "> and use_start_time = #{useStartTime}</if>
            <if test="useEndTime != null "> and use_end_time = #{useEndTime}</if>
            <if test="couponStatus != null  and couponStatus != ''"> and coupon_status = #{couponStatus}</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectMallMarketingCouponById" parameterType="String" resultMap="MallMarketingCouponMallMarketingCouponRecordResult">
        select id, coupon_name, coupon_type, face_value, discount_rate, discount_limit, min_order_amount, total_count, remain_count, per_user_limit, use_start_time, use_end_time, coupon_status, is_deleted, create_by, update_by, create_time, update_time, version
        from mall_marketing_coupon
        where id = #{id}
    </select>

    <select id="selectMallMarketingCouponRecordList" resultMap="MallMarketingCouponRecordResult">
        select id, coupon_id, user_id, coupon_code, record_status, order_no, face_value, lock_time, use_time, release_time, expire_time, is_deleted, create_time, update_time
        from mall_marketing_coupon_record
        where coupon_id = #{coupon_id}
    </select>

    <insert id="insertMallMarketingCoupon" parameterType="MallMarketingCoupon" useGeneratedKeys="true" keyProperty="id">
        insert into mall_marketing_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponName != null and couponName != ''">coupon_name,</if>
            <if test="couponType != null and couponType != ''">coupon_type,</if>
            <if test="faceValue != null and faceValue != ''">face_value,</if>
            <if test="discountRate != null">discount_rate,</if>
            <if test="discountLimit != null">discount_limit,</if>
            <if test="minOrderAmount != null">min_order_amount,</if>
            <if test="totalCount != null and totalCount != ''">total_count,</if>
            <if test="remainCount != null and remainCount != ''">remain_count,</if>
            <if test="perUserLimit != null">per_user_limit,</if>
            <if test="useStartTime != null">use_start_time,</if>
            <if test="useEndTime != null">use_end_time,</if>
            <if test="couponStatus != null and couponStatus != ''">coupon_status,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="couponName != null and couponName != ''">#{couponName},</if>
            <if test="couponType != null and couponType != ''">#{couponType},</if>
            <if test="faceValue != null and faceValue != ''">#{faceValue},</if>
            <if test="discountRate != null">#{discountRate},</if>
            <if test="discountLimit != null">#{discountLimit},</if>
            <if test="minOrderAmount != null">#{minOrderAmount},</if>
            <if test="totalCount != null and totalCount != ''">#{totalCount},</if>
            <if test="remainCount != null and remainCount != ''">#{remainCount},</if>
            <if test="perUserLimit != null">#{perUserLimit},</if>
            <if test="useStartTime != null">#{useStartTime},</if>
            <if test="useEndTime != null">#{useEndTime},</if>
            <if test="couponStatus != null and couponStatus != ''">#{couponStatus},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateMallMarketingCoupon" parameterType="MallMarketingCoupon">
        update mall_marketing_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponName != null and couponName != ''">coupon_name = #{couponName},</if>
            <if test="couponType != null and couponType != ''">coupon_type = #{couponType},</if>
            <if test="faceValue != null and faceValue != ''">face_value = #{faceValue},</if>
            <if test="discountRate != null">discount_rate = #{discountRate},</if>
            <if test="discountLimit != null">discount_limit = #{discountLimit},</if>
            <if test="minOrderAmount != null">min_order_amount = #{minOrderAmount},</if>
            <if test="totalCount != null and totalCount != ''">total_count = #{totalCount},</if>
            <if test="remainCount != null and remainCount != ''">remain_count = #{remainCount},</if>
            <if test="perUserLimit != null">per_user_limit = #{perUserLimit},</if>
            <if test="useStartTime != null">use_start_time = #{useStartTime},</if>
            <if test="useEndTime != null">use_end_time = #{useEndTime},</if>
            <if test="couponStatus != null and couponStatus != ''">coupon_status = #{couponStatus},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMallMarketingCouponById" parameterType="String">
        delete from mall_marketing_coupon where id = #{id}
    </delete>

    <delete id="deleteMallMarketingCouponByIds" parameterType="String">
        delete from mall_marketing_coupon where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteMallMarketingCouponRecordByCouponIds" parameterType="String">
        delete from mall_marketing_coupon_record where coupon_id in 
        <foreach item="couponId" collection="array" open="(" separator="," close=")">
            #{couponId}
        </foreach>
    </delete>

    <delete id="deleteMallMarketingCouponRecordByCouponId" parameterType="String">
        delete from mall_marketing_coupon_record where coupon_id = #{couponId}
    </delete>

    <insert id="batchMallMarketingCouponRecord">
        insert into mall_marketing_coupon_record( id, coupon_id, user_id, coupon_code, record_status, order_no, face_value, lock_time, use_time, release_time, expire_time, is_deleted, create_time, update_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.couponId}, #{item.userId}, #{item.couponCode}, #{item.recordStatus}, #{item.orderNo}, #{item.faceValue}, #{item.lockTime}, #{item.useTime}, #{item.releaseTime}, #{item.expireTime}, #{item.isDeleted}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>
</mapper>